@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffbfbb79;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #a96768;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a96768;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #460809;
}